.container{
    width: 100vw;
    height: 2rem;
    background-color:#00ff4440 ;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.container > a{
    color: rgb(65, 65, 65);
    margin: 0;
}
.container > a:hover{
    color: rgb(65, 65, 65, 0.5);
    cursor: pointer;
}