<div class="form-contaner">
    <h4>sign up</h4>
    <div class="inputs-container">
        <form [formGroup]="signupForm">
            <label for="firstName">first name</label>
            <input type="text" placeholder="first name" name="firstName" formControlName="FirstName" [ngClass]="{'red-border': (firstName.touched && firstName.invalid) || (submitClicked && firstName.invalid)}">
            <label for="lastName">last name</label>
            <input type="text" placeholder="last name" name="lastName" formControlName="LastName" [ngClass]="{'red-border': (lastName.touched && lastName.invalid) || (submitClicked && lastName.invalid)}">
            <label for="email">e-mail</label>
            <input type="email" placeholder="e-mail" name="email" formControlName="Email" [ngClass]="{'red-border': (email.touched && email.invalid) || (submitClicked && email.invalid)}">
            <label for="address">address</label>
            <input type="text" placeholder="address" name="address" formControlName="Address" [ngClass]="{'red-border': (address.touched && address.invalid) || (submitClicked && address.invalid)}">
            <label for="password">password</label>
            <input type="password" placeholder="password" name="password" formControlName="Password" [ngClass]="{'red-border': (password.touched && password.invalid) || (submitClicked && password.invalid)}">
            <label for="repaetPassword">repaet password</label>
            <input type="password" placeholder="repaet password" name="repaetPassword" formControlName="RepeatPassword" [ngClass]="{'red-border': (repeatPassword.touched && repeatPassword.invalid) || (submitClicked && repeatPassword.invalid)}">
        </form>
        
    </div>
    <button (click)="onSubmit()">sign up</button>
    <p>already sign up? <a (click)="navigateToLogin()">login</a></p>
    
</div>