<div class="mobile-container">
    <div class="img-area">
        <img src="../../../../assets/images/book-icon.jpeg" alt="">
    </div> 
    <p class="book-name">{{ bookName }} </p> 
    <p class="author-name">{{ author}} </p>
    <p class="price">{{ price }}₪</p>
    <div class="buttons-area">
        <button>add to cart</button>
        <button>add to favorite</button>
    </div>
</div>
<div class="desktop-container">
    <div class="info-area">
        <div class="info-area-name-and-price">
            <div class="info-area-names">
                <p class="book-name">{{ bookName }} </p> 
                <p class="author-name">{{ author}} </p>
            </div>
        <p class="price">{{ price }}₪</p>
        </div>
        <div class="buttons-area">
            <button>add to cart</button>
            <button>add to favorite</button>
        </div>
    </div>
    
    <div class="img-area">
        <img src="../../../../assets/images/book-icon.jpeg" alt="">
    </div> 
    
</div>
