<div class="mobile-container">
    <div class="img-area">
        <img *ngIf="priceAfterDiscount != null" class="sale-tag" src="../../../../assets/images/saleTag.png" alt="">
        <img src="../../../../assets/images/book-icon.jpeg" alt="">
    </div>
    <p class="book-name">{{ book.name }} </p>
    <p class="author-name">{{ book.author }} </p>
    <p  [ngClass]="priceAfterDiscount != null ? 'full-price' : 'price'">{{ book.price }}₪</p>
     <p *ngIf="priceAfterDiscount != null" class="discount-price">{{ priceAfterDiscount }}₪</p>
    <div class="buttons-area">
        <button (click)="addToCart()" *ngIf="!currentUser.user?.cart?.includes(book)">add to cart</button>
        <button (click)="removeFromCart()" *ngIf="currentUser.user?.cart?.includes(book)">remove from cart</button>
        <button (click)="addToFavorite()" *ngIf="!currentUser.user?.favoriteBooksList?.includes(book)">add to favorite</button>
        <button (click)="removeFromFavorite()" *ngIf="currentUser.user?.favoriteBooksList?.includes(book)">remove from favorite</button>
    </div>
</div>
<div class="desktop-container">
    <div class="info-area">
        <div class="info-area-name-and-price">
            <div class="info-area-names">
                <p class="book-name">{{ book.name}} </p>
                <p class="author-name">{{ book.author}} </p>
            </div>
        <p [ngClass]="priceAfterDiscount != null ? 'full-price' : 'price'">{{ book.price }}₪</p>
        <p *ngIf="priceAfterDiscount != null" class="discount-price">{{ priceAfterDiscount }}₪</p>
        </div>
        <div class="buttons-area">
            <button (click)="addToCart()" *ngIf="!currentUser.user?.cart?.includes(book)">add to cart</button>
            <button (click)="removeFromCart()" *ngIf="currentUser.user?.cart?.includes(book)">remove from cart</button>
            <button (click)="addToFavorite()" *ngIf="!currentUser.user?.favoriteBooksList?.includes(book)">add to favorite</button>
            <button (click)="removeFromFavorite()" *ngIf="currentUser.user?.favoriteBooksList?.includes(book)">remove from favorite</button>
        </div>
    </div>

    <div class="img-area">
        <img *ngIf="priceAfterDiscount != null" class="sale-tag" src="../../../../assets/images/saleTag.png" alt="">
        <img src="../../../../assets/images/book-icon.jpeg" alt="">
    </div>

</div>
